.button {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--color-light-10);
        color: var(--color-dark);
    }
}
