@charset "UTF-8";
/**
  Блочна модель
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Прибираємо внутрішні відступи зліва для списків
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираємо зовнішні відступи для body, цитат, підписів та групи полів форми
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Прибираємо зовнішні вертикальні відступи потрібним тегам,
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Прибираємо стандартний маркер списку
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Прибираємо зовнішні вертикальні відступи,
  створюємо локальну змінну для зовнішнього відступу вниз,
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Робимо зовнішній відступ вниз для не останнього параграфа без класу
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Нормалізуємо зображення та відео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Успадковуємо шрифт для потрібних тегів
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  /**
   Налаштування скролбару та скролу
  */
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

/**
  Нормалізація розмірів посилання
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-палець при наведенні
 */
button,
label {
  cursor: pointer;
}

/**
  Прибрає сіре підсвічування при тапі на мобільних пристроях
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приодимо до єдиного кольору svg-елементи
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/**
  Приведення рамок таблиць у класичний 'collapse' вигляд
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Прибираємо аніміації для тих хто їх не використовує
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #2d2d2d;
  --color-light: #ffffff;
  --color-light-10: #e3e3e3;
  --color-gray: #878787;
  --color-error: #ba3737;
  --input-height: 2rem;
  --font-family: Verdana, Tahoma, sans-serif;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: url("../images/background.jpg") center/cover no-repeat;
  padding: 2% 5%;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70vw;
  color: var(--color-light);
  padding: 2rem 4rem;
  border: 2px solid var(--color-light);
  border-radius: 20px;
  overflow: hidden;
}
.form__bg {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: -1;
}
.form__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px var(--color-light);
}
.form__button {
  margin-left: 8rem;
}

.button {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.button:hover {
  background-color: var(--color-light-10);
  color: var(--color-dark);
}

.field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.field__row {
  display: flex;
  gap: 1rem;
}
.field__label {
  min-width: 7rem;
  font-size: 0.9rem;
  color: var(--color-light);
}
.field__label--hidden {
  display: none;
}
.field__input, .field__select, .field__textarea {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  min-height: var(--input-height);
  border: 2px solid var(--color-light);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--color-dark);
  font: inherit;
}
.field__textarea {
  min-height: 7rem;
  resize: vertical;
}/*# sourceMappingURL=main.css.map */